<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IBSampleFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87C8943419F0DAE400455E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C8944D19F0DAE400455E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C8946519F0DC7900455E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C8946F19F0DC7900455E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
